@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.getBtn {
  margin: 24px 120px;
  border: 1px solid gray;
  border-radius: 0%;
  text-transform: uppercase;
  cursor: pointer;
}
.cont {
  margin: 23px 130px;
  border: 1px solid gray;
  border-radius: 0%;
  text-transform: uppercase;
  cursor: pointer;
}
.getCont {
  padding: 10px 36px;
  margin: 20px 115px;
  /* border: 1px solid gray; */
  border-radius: 10%;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-link.active {
  color: black !important;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
}

.nav-link {
  color: black !important;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
}

.active {
  color: black !important;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
}

.wraper {
  margin: 20px;
}
.navbar-toggler {
  background-color: black;
}
.wrp {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 33px;
}

.ins {
  display: flex;
  margin-top: 50px;
  margin: 12px;
  align-items: center;
  justify-content: center;
}
.insa {
  margin: 20px;
}
.insta {
  margin-top: 27px;
}
.fb {
  padding: 8px 6px;
  border: 1px solid #3578e5;
  margin: 20px;
  background-color: #3578e5;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.io {
  padding: 8px 6px;
  border: 1px solid #c434a8;
  color: white;
  background-color: #c434a8;
  margin-left: 80px;
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.abo {
  margin: 5px;
  text-decoration: none;
}
.about {
  text-align: center;
}

.textfive {
  font-size: 23px;
  margin-top: 59px;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 35px;
}
.textone {
  margin: 12px;
  line-height: 10px;
}
.test {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 33px;
}

.text {
  margin: 12px;
  line-height: 10px;
  font-family: "Oswald";
  font-weight: 200;
  font-size: 30px;
}
p {
  margin-top: 19px;
  padding: 16px;
}
.card {
  /* width: 95%; */
  height: auto;
  overflow: hidden;
  object-fit: cover;
  margin: 10px;
  margin-top: 26px;
  border-radius: 5px;
}
.check {
  margin-left: 177px;
  text-decoration: none;
  color: black;
}
.checkk {
  /* margin-left: 177px; */
  text-decoration: none;
  color: black;
}
.logo {
  height: 68px;
}
#demo {
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto;
}
.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  /* font-style: italic; */
  font-weight: bold;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.7rem;
    /* font-style: italic; */
    font-weight: bold;
    line-height: 1.5rem;
  }
}
.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}
#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}
i {
  background-color: rgb(223, 56, 89);
  padding: 1.4rem;
}
@media (max-width: 767px) {
  i {
    padding: 0.8rem;
  }
}
.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}
.follw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (min-width: 992px) {
  .nav-item {
    line-height: 80px;
  }
}
